@import url(https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input,
    select {
        @apply focus:outline-none focus-visible:outline-none focus:placeholder:text-transparent;
    }

    .TagClass {
        @apply flex items-center gap-x-2 bg-slate-100 py-1 px-2 rounded-md
    }

    .input-circle {
        background-position: 100%;
        background-image: url(../images/circle.svg);

    }

    .sidebar-menu.active {
        width: 50px;
    }

    .sidebar-menu.active ul {
        padding-right: 12px;
    }

    .sidebar-menu.active ul li .text-menu {
        display: none;
    }

    .form-select {
        background-image: url(https://api.iconify.design/ion:arrow-down-b.svg);
        background-position: left 0.75rem center;
        background-size: 16px 12px;
        background-repeat: no-repeat;
    }
}